<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Teacher</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar"></ul>
        <div class="text-center d-none d-md-inline"></div>
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler"
                    data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Materi</a><a
                                class="nav-link" href="#">Tugas</a><a class="nav-link" href="#">Nilai</a><a
                                class="nav-link" href="#">Presensi</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Chat</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</nav>