<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>landing-and-admin</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="text-primary bg-dark" style="margin-bottom: 30px;">
        <nav class="navbar navbar-light navbar-expand-md border-dark shadow navigation-clean-button">
            <div class="container-fluid"><a class="navbar-brand" href="#">LeMaS</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <button class="btn btn-danger border rounded" type="button"><strong>Sign Out</strong></button></span></div>
            </div>
        </nav>
    </div>
    <div style="margin-bottom: 132px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-9">
                    <div class="border rounded border-light shadow" style="padding: 20px;">
                        <div class="row">
                            <div class="col">
                                <h1>Alumni</h1>
                            </div>
                            <div class="col-xl-3 offset-xl-2"><button class="btn btn-link border rounded border-primary" type="button">New Alumni</button></div>
                        </div>
                        <div style="margin: 20px 0;">
                            <div class="row">
                                <div class="col-xl-8 offset-xl-0"><input class="border rounded" type="search" autocomplete="on" placeholder="Search Alumni"><i class="fa fa-search" style="font-size: 19px;color: rgb(195,195,195);margin-left: 7px;"></i></div>
                                <div class="col">
                                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Angkatan</button>
                                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                                    </div>
                                </div>
                                <div class="col"><button class="btn btn-success" type="button">Filter</button></div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>NIS</th>
                                        <th>NAMA</th>
                                        <th>username</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12345678</td>
                                        <td>Ganesha danu</td>
                                        <td>danugan</td>
                                        <td>
                                            <div class="btn-group"><button class="btn btn-info" type="button">DETAIL</button><button class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" type="button"></button>
                                                <div class="dropdown-menu"
                                                    role="menu"><a class="dropdown-item" role="presentation" href="#">DELETE</a><a class="dropdown-item" role="presentation" href="#">EDIT</a></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12345678</td>
                                        <td>Ganesha danu</td>
                                        <td>danugan</td>
                                        <td>
                                            <div class="btn-group"><button class="btn btn-info" type="button">DETAIL</button><button class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" type="button"></button>
                                                <div class="dropdown-menu"
                                                    role="menu"><a class="dropdown-item" role="presentation" href="#">DELETE</a><a class="dropdown-item" role="presentation" href="#">EDIT</a></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12345678</td>
                                        <td>Ganesha danu</td>
                                        <td>danugan</td>
                                        <td>
                                            <div class="btn-group"><button class="btn btn-info" type="button">DETAIL</button><button class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" type="button"></button>
                                                <div class="dropdown-menu"
                                                    role="menu"><a class="dropdown-item" role="presentation" href="#">DELETE</a><a class="dropdown-item" role="presentation" href="#">EDIT</a></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3">
                    <ul class="list-group shadow">
                        <li class="list-group-item"><span>MANAGE USER</span></li>
                        <li class="list-group-item list-group-item-dark"><span>MANAGE ALUMNI</span></li>
                        <li class="list-group-item"><span>MANAGE PRESENSI</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2017</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>